<h1><%= @post.title %></h1>

<%= image_tag @post.image.url(:medium) %>

<a href="<%=@post.link %>">Link</a>

<%= @post.description %>

<%= link_to "Delete", @post, method: 'delete' %>

<%= link_to "Home", root_path %>
